/* About Us Page Styles */

.about-us-page-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}

.about-us-page-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.about-us-page-container h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

.about-us-page-container p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.team-member {
  margin-bottom: 40px;
}

.team-member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h4 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.team-member p {
  font-size: 16px;
  color: #666;
}

/* You can add more styles for additional team members or customize existing styles further based on your design */
