.app-header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffcc00; /* Change to your desired hover color */
}
